@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: arial, sans-serif;
}

.menu {
    display: flex;
    height: 80px;
    align-items: center;
    background-color: #D4D4D4;
}

.logo {
    flex-basis: 30%;
}

.logo__initials {
    font-size: 3.5rem;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.nav {
    flex-basis: 70%;
    border-radius: 5px;
    background-image: linear-gradient(to right, #f1d6c1, #eec7a9);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 15px 250px;
    padding: 5px;
}

.nav__list {
    display: flex;
    width: 100%;
    list-style: none;
    margin-left: 20px;
}

.nav__item {
    margin: 0 20px;
    font-size: 1.5rem;
    line-height: 40px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
}

.nav__item:nth-child(5) {
    border-right: 2px solid white;
    padding-right: 15px;
}

.main__article {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
    padding-bottom: 50px;
    overflow: hidden;
}

.article {
    flex-basis: 50%;
}

.article__img {
    width: 60%;
    height: 450px;
    margin: 10px 50px 10px 70px;
    border-radius: 5px;
}

.article__con1 {
    width: 250px;
    margin-top: 320px;
    margin-left: 100px;
}

.article__con1__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    text-align: end;
}

.article__con1__contact {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 0 15px 0;
    text-align: end;
}

.article__con1__btn {
    background-image: linear-gradient(to right, #f1d6c1, #eec7a9);
    padding: 12px 15px;
    margin: 5px 0 0 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.article__about {
    width: 60%;
    margin: 30px auto;
}

.article__about__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.article__about__title-tech {
    font-size: 2.5rem;
    color: #eec7a9;
}

.article__about__description {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.3);
    text-align: justify;
    margin: 20px 0 10px 0;
}

.article__about__title-hobby {
    font-size: 2.5rem;
    color: #eec7a9;
    margin-bottom: 10px;
}

.article__about__in {
    margin-left: 12px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.3);
}

.article__about__course {
    display: flex;
    margin: 25px 0 0 95px;
    justify-content: end;
}

.article__about__course-des {
    margin-right: 5px;
    font-size: 1.4rem;
    line-height: 55px;
    color: rgba(0, 0, 0, 0.5);
}

.article__about__course-img {
    width: 30%;
}

.article__skills {
    margin: 10px auto;
    padding-left: 20px;
    width: 80%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.article__skills__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    padding-top: 20px;
    margin-bottom: 10px;
}

.article__skills__description {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.3);
}

.article__skills__progress {
    background-color: #D4D4D4;
    width: 70%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}

.article__skills__progress-bar {
    background-image: linear-gradient(to right, #f1d6c1, #eec7a9);
    color: white;
    padding: 5px;
    text-align: right;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 8px;
}

.php {
    width: 100%;
}

.js {
    width: 90%;
}

.html {
    width: 90%;
}

.nodejs {
    width: 60%;
}

.css {
    width: 90%;
}

.go {
    width: 60%;
}

.about {
    position: absolute;
    width: 48%;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.about__name {
    margin: 15px 0 0 15px;
    font-size: 2.5rem;
}

.about__profession {
    font-size: 2.5rem;
    color: #eec7a9;
    margin: 0 0 10px 15px;
}

.about__des {
    font-size: 1.4rem;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.3);
}

.about__pro {
    display: flex;
    justify-content: end;
    margin: 15px
}

.about__pro__txt {
    font-size: 1.4rem;
    line-height: 75px;
    margin-right: 10px;
}

.about__pro__img {
    width: 10%;
}

.c1 {
    position: absolute;
    width: 20%;
    top: -60px;
    left: -50px
}

.c2 {
    position: absolute;
    width: 30%;
    top: 50px;
    right: -45px;
    z-index: -1;
}

.c3 {
    position: absolute;
    width: 20%;
    top: 300px;
    left: 430px;
    z-index: -1;
}

.c4 {
    position: absolute;
    width: 40%;
    right: -95px;
    bottom: -100px;
    z-index: -1;
}

.tools {
    background-image: linear-gradient(to right, #f1d6c1, #eec7a9);
    width: 100%;
    height: 250px;
    position: relative;
}

.tools__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    padding-top: 10px;
    margin-left: calc(12.5% - 30px);
}

.tools__ess {
    font-size: 2.5rem;
    color: #dca9a9;
    margin-left: calc(12.5% - 30px);
}

.tools__ess-img {
    display: flex;
    margin-left: calc(12.5% - 30px);
    margin-top: 20px;
    width: 58%;
}

.tools__item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    width: 40%;
}

.tools__img {
    width: 40%;
    display: block;
    margin: 15px auto;
}

.tools__des {
    text-align: center;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.tools__img--sc {
    width: 50%;
    margin-top: 30px;
}

.c5 {
    position: absolute;
    width: 25%;
    top: -215px;
    left: -215px;
}

.work {
    position: relative;
    margin: 60px 0 0 160px;
}

.work__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.work__portfolio {
    font-size: 2.5rem;
    color: #eec7a9;
}

.work__des {
    margin: 30px 0;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}

.work__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}

.work__wrapper-img {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 10px 10px 0 10px;
    text-align: center;
    position: relative;
}

.work__icon {
    text-align: end;
}

.work__arrow {
    width: 20%;
}

.work__git {
    padding-bottom: 12px;
    width: 15%;
}

.work__hov {
    display: none;
    position: absolute;
}

.work__wrapper-img:hover .work__hov {
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(241, 214, 193, 0.9), rgba(238, 199, 169, 0.9));
}

.work__hov-des::first-line {
    font-size: 4rem;
    color: black;
}

.work__hov-des {
    color: white;
    margin-top: 40px;
    padding-left: 35px;
    font-size: 2.5rem;
    text-align: start;
    transition: 5s;
}

.c6 {
    position: absolute;
    width: 33%;
    top: -300px;
    right: 50px;
}

.c7 {
    position: absolute;
    width: 45%;
    top: 200px;
    right: 40px;
    z-index: -1;
}

.blog {
    margin: 40px 0 0 160px;
    position: relative;
}

.blog__title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.blog__title-des {
    font-size: 2.5rem;
    color: #eec7a9;
}

.blog__wrapper {
    display: flex;
    margin-top: 30px;
}

.blog__img {
    flex-basis: 30%;
}

.blog__logo {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 0px 0 rgba(0, 0, 0, 0.3);
}

.blog__description {
    flex-basis: 60%;
    padding: 10px;
}

.blog__heading {
    display: flex;
}

.blog__description-title {
    flex-basis: 80%;
    font-size: 2.5rem;
}

.blog__description-date {
    flex-basis: 20%;
    color: #eec7a9;
    font-size: 1.3rem;
    padding-top: 12px;
    text-align: end;
}

.blog__description-title-sec {
    font-size: 2.7rem;
    color: #eec7a9;
}

.blog__description-text {
    font-size: 1.7rem;
    margin-top: 30px;
}

.blog__description-more {
    font-size: 2rem;
    color: #eec7a9;
    margin: 30px;
    text-align: center;
}

.c8 {
    position: absolute;
    width: 35%;
    left: -250px;
    bottom: -49px;
    z-index: -1;
}

.contact {
    display: flex;
    margin-top: 20px;
    height: 500px;
    background-image: linear-gradient(to right, #f1d6c1, #eec7a9);
    position: relative;
}

.contact__col1 {
    flex-basis: 50%;
    margin: 30px 0 0 130px;
}

.contact__title {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.contact__des {
    margin: 10px 0;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.3);
}

.contact__input {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.contact__input--mes {
    height: 200px;
}

.input__send {
    font-size: 2rem;
    color: #fff;
    width: 20%;
    padding: 10px;
    margin-left: 10px;
    background-image: linear-gradient(to right, #f1d6c1, #eec7a9);
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.contact__col2 {
    flex-basis: 50%;
    margin: 30px 200px 0 0;
}

.contact__img {
    width: 40vh;
    height: 40vh;
    margin: 0 0 20px 400px;
    border-radius: 3px;
}

.contact__description {
    text-align: end;
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
}

.contact__adress {
    display: flex;
    position: absolute;
    background-color: white;
    top: 150px;
    right: 480px;
    width: 25%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.contact__icon {
    width: 20%;
}

.contact__num {
    color: rgba(0, 0, 0, 0.3);
    margin-left: 15px;
    font-size: 2rem;
    padding: 10px;
}

.c9 {
    position: absolute;
    top: -200px;
    right: 380px;
    width: 30%
}